.card-item {
  border: 3px solid #09b596;
  border-radius: 5px;
  box-shadow: 5px 5px #7f7f7fcc;
  margin: 10px;
  width: 40%;
  height: auto;
  display: flex;
  padding: 20px;
  & h2 {
    margin: 0;
  }

  & h3 {
    margin: 5px 0;
    color: #555;
  }

  table {
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 10px;
      text-align: left;
    }
  }
}
